.job-container {
    padding: 40px 155px 40px 40px;
}

.job-container img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 1px;
    border: 1px solid #7E90FE;
}

.job-title {
    color: #474747;
    font-weight: 800;
    font-size: 24px;
    margin: 0;
}

.job-text {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.job-place {
    border-radius: 4px;
    padding: 9px 19px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
    border: 1px solid #7E90FE;
    margin-right: 16px;
}