.jobs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 662px) {
    .jobs-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
}