.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 52px;
}

.header-title {
    color: #1A1919;
    font-weight: 800;
    font-size: 32px;
}

nav a {
    text-decoration: none;
    color: #757575;
    margin-right: 30px;
}

.active {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.btn-common {
    width: 215px;
    height: 65px;
    border-radius: 8px;
    padding: 19px 28px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border: 0;
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
}

.btn-common:hover {
    cursor: pointer;
}