.footer-container {
    color: #FFFFFF;
    background-color: #1A1919;
    padding: 50px;
    font-weight: 400;
}

.footer-container h3,
h4 {
    color: #dbdbdb;
    margin: 10px 0 10px;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.footer-info img {
    width: 100px;
}

.footer-container small {
    display: block;
    margin-bottom: 10px;
    color: #c7c7c7;
}

.copyright {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.copyright small {
    font-size: 10px;
}

.footer-container hr {
    color: #c0c0c0;
    margin: 20px 0;
}

@media only screen and (max-width: 662px) {
    .footer-info {
        grid-template-columns: 1fr
    }
}