.banner-container {
    display: flex;
}

.banner-title {
    color: #1A1919;
    font-weight: 800;
    font-size: 80px;
    margin: 0;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.dream-job {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.banner-img img {
    width: 816px;
    height: 744px;
}